body {
    width: 128%;
    margin: 30px;
    background-color: antiquewhite;
 }
  
 #profile-container{
<<<<<<< HEAD
    max-width: 2000px;
=======
    max-width: 1500px;
>>>>>>> footer
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
 }
  
 #profile-image{
    width: 128%;
    height: auto;
 }
  
 #profile-name{
    text-align: center;
 }
<<<<<<< HEAD
 #header {
    width: 128%;
=======
 #footer {
    width: 100%;
>>>>>>> footer
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
<<<<<<< HEAD
 } 
=======
 }
>>>>>>> footer
